body {
    padding: 20px 40px;
}

textarea {
    margin-bottom: 10px;
}

.auto-generation,
.exemptions {
    border-radius: 15px;
    padding: 10px 20px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    background: #f4f4f4;
    width: 100%;
    max-width: 1300px;
    box-sizing: border-box;
}

#github-url-form {
    margin-bottom: 0px;
}

.usa-alert {
    margin-bottom: 15px;
    max-width: 1300px;
    animation: slideDown 0.3s ease;
}

.step-header {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.step-number {
    background-color: #337AB7;
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.not-exempt {
    color: green;
    display: inline-block;
}

.button-actions {
    margin-top: 20px;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}